<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190082324708-0ua4q8ot0mu7o9et0baaov33dudgn2g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190082324708-0ua4q8ot0mu7o9et0baaov33dudgn2g6</string>
	<key>API_KEY</key>
	<string>AIzaSyCXdCxmVCZzYrC3zgfPRq0dsm498yAztgw</string>
	<key>GCM_SENDER_ID</key>
	<string>190082324708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danah.SmartTable</string>
	<key>PROJECT_ID</key>
	<string>smarttable-16dba</string>
	<key>STORAGE_BUCKET</key>
	<string>smarttable-16dba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190082324708:ios:06c8dd477f836eaea0b4f1</string>
</dict>
</plist>